<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Добавить производителя</title>
    <div th:replace="fragments/header :: myHeaderHead"></div>
</head>
<body>
<div th:replace="fragments/header :: myHeaderNav"></div>
<div class="container" style="margin: auto">
    <h1 class="h1">Добавление производителя</h1>
    <br>
    <form enctype="multipart/form-data" th:object="${makerDto}" method="post"
          th:action="@{${'/admin/createMaker'}}">
        <div class="form-group mb-3">
            <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="alert alert-danger" role="alert" >Неправильно заполнено поле</div>
            <label for="name">Название</label>
            <input type="text" class="form-control" name="name" id="name" placeholder="Название" required
                   autofocus th:field="*{name}">
        </div>
        <div class="form-group mb-3">
            <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="alert alert-danger" role="alert" >Неправильно заполнено поле</div>
            <label for="description">Описание (по желанию)</label>
            <input type="text" class="form-control" name="description" id="description" th:field="*{description}">
        </div>
        <div class="form-group mb-5">
            <div th:if="${#fields.hasErrors('logo')}" th:errors="*{logo}" class="alert alert-danger" role="alert" >Неправильно заполнено поле</div>
            <label for="logo">Логотип (.png, .jpg)</label>
            <input type="file" class="form-control" name="photos" id="logo" accept="image/x-png,image/jpeg,image/jpeg" placeholder="Логотип">
        </div>
        <div class="mb-5">
            <input type="submit" class="btn btn-primary" value="Добавить">
            <a class="btn-secondary" th:href="@{${'/admin/createMaker'}}">Очистить</a>
        </div>
        <br>
    </form>
</div>
<div th:replace="fragments/footer :: myFooter"></div>
</body>
</html>