<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      lang="ru">
<head>
    <meta charset="UTF-8">
    <title>K8S Configurer</title>
    <div th:replace="fragments/header :: myHeaderHead"></div>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div th:replace="fragments/header :: myHeaderNav"></div>
<div class="mainContainer" style="margin-top: 100px;">
    <div class="row mx-5">
        <div class="col-10">
            <div class="row m-auto">
                <h5 class="h5">Ищете что-то конкретное?</h5>
            </div>
            <div>
                <form class="input-group" id="search-form" type="get" th:action="@{/configurations/}">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Введите название..."
                               aria-label="Введите название..."
                               aria-describedby="button-addon2" name="search" id="productName"
                               th:value="${searchDto.search}">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Поиск</button>
                        </div>
                    </div>
                    <input type="hidden" name="minPrice" th:if="${searchDto.minPrice!=null}"
                           th:value="${searchDto.minPrice}">
                    <input type="hidden" name="maxPrice" th:if="${searchDto.maxPrice!=null}"
                           th:value="${searchDto.maxPrice}">
                    <input type="hidden" name="minPlayers" th:if="${searchDto.minPlayers!=null}"
                           th:value="${searchDto.minPlayers}">
                    <input type="hidden" name="maxPlayers" th:if="${searchDto.maxPlayers!=null}"
                           th:value="${searchDto.maxPlayers}">
                    <input type="hidden" name="minAge" th:if="${searchDto.minAge!=null}" th:value="${searchDto.minAge}">
                    <input type="hidden" name="maxAge" th:if="${searchDto.maxAge!=null}" th:value="${searchDto.maxAge}">
                    <input type="hidden" name="ageCategory" th:if="${searchDto.ageCategory!=null}"
                           th:value="${searchDto.ageCategory}">
                    <input type="hidden" name="rate" th:if="${searchDto.rate!=null}" th:value="${searchDto.rate}">
                    <input type="hidden" name="minTime" th:if="${searchDto.minTime!=null}"
                           th:value="${searchDto.minTime}">
                    <input type="hidden" name="maxTime" th:if="${searchDto.maxTime!=null}"
                           th:value="${searchDto.maxTime}">
                    <th:block th:each="maker : ${searchDto.maker}">
                        <input type="hidden" name="maker" th:value="${maker.id}">
                    </th:block>
                    <th:block th:each="category : ${searchDto.category}">
                        <input type="hidden" name="category" th:value="${category.id}">
                    </th:block>
                    <input type="hidden" name="isDependence" th:if="${searchDto.isDependence!=null}"
                           th:value="${searchDto.isDependence}">
                    <div class="input-group" style="text-align: right">
                        <div class="mt-2">
                            <i th:text="${'Количество конфигураций: ' + configurations.size()}"></i>
                            <button type="button" class="btn btn-success btn-sm" data-toggle="modal"
                                    data-target="#saveModal">+
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row">
                <div class="ui-112 text-center" style="width: 100%">
                    <!-- container -->
                    <div class="row">
                        <th:block th:each="config : ${configurations}">
                            <div class="myProduct">
                                <!-- Image Box #1 Item -->
                                <div class="ui-112-item">
                                    <div class="ui-112-cap">
                                        <!-- Heading-->
                                        <h4 class="mb-0"><a th:href="@{${'/configuration/' + config.id}}"
                                                            th:text="${config.name}"></a></h4>
                                        <p th:text="${'RAM: ' + config.memoryRequest + 'Mi'}"></p>
                                        <p th:text="${'RAM лимит: ' + config.memoryLimit + 'Mi'}"></p>
                                        <p th:text="${'CPU: ' + config.cpuRequest + 'm'}"></p>
                                        <p th:text="${'CPU лимит: ' + config.cpuLimit}"></p>
                                        <p th:text="${'Репилики: ' + config.replicas}"></p>
<!--                                        <p><i th:text="${'Количество сервисов: ' + config.services.size()}"></i></p>-->
                                    </div>
                                </div>
                            </div>
                        </th:block>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2 p-0">
            <div style="background-color: white;">
                <form class="m-3" method="get" th:action="@{/configurations/}" id="filter-form" th:object="${searchDto}">
                    <label for="minPrice" class="mt-2"><b>Оперативная память</b></label>
                    <div class="form-row mb-3">
                        <div class="col">
                            <input type="number" class="form-control" name="minPrice" id="minPrice"
                                   th:field="*{minPrice}"
                                   th:placeholder="${'от ' + minimalPrice}">
                        </div>
                        <div class="col">
                            <input type="number" class="form-control" name="maxPrice" id="maxPrice"
                                   th:field="*{maxPrice}"
                                   th:placeholder="${'до ' + maximumPrice}">
                        </div>
                    </div>
                    <label for="minPrice"><b>Количество CPU</b></label>
                    <div class="form-row mb-3">
                        <div class="col">
                            <input type="number" class="form-control" name="minPlayers" id="minPlayers"
                                   th:field="*{minPlayers}"
                                   th:placeholder="${'от 1'}">
                        </div>
                        <div class="col">
                            <input type="number" class="form-control" name="maxPlayers" id="maxPlayers"
                                   th:field="*{maxPlayers}"
                                   th:placeholder="${'до ' + maximumPlayers}">
                        </div>
                    </div>
                    <label for="minAge"><b>Лимит оперативной памяти</b></label>
                    <div class="form-row mb-3">
                        <div class="col">
                            <input type="number" class="form-control" name="minAge" id="minAge" th:field="*{minAge}"
                                   th:placeholder="${'от 0'}">
                        </div>
                        <div class="col">
                            <input type="number" class="form-control" name="maxAge" id="maxAge" th:field="*{maxAge}"
                                   th:placeholder="${'до 100'}">
                        </div>
                    </div>
                    <label for="minPrice"><b>Лимит CPU</b></label>
                    <div class="form-row mb-3">
                        <div class="col">
                            <input type="number" class="form-control" name="minPlayers" id="minCpu"
                                   th:field="*{minPlayers}"
                                   th:placeholder="${'от 1'}">
                        </div>
                        <div class="col">
                            <input type="number" class="form-control" name="maxPlayers" id="maxCpu"
                                   th:field="*{maxPlayers}"
                                   th:placeholder="${'до ' + maximumPlayers}">
                        </div>
                    </div>
                    <label for="rate"><b>Количество реплик</b></label>
                    <div class="input-group mb-3">
                        <input type="number" class="form-control" name="rate" id="rate" step="0.1" th:field="*{rate}"
                               th:placeholder="${'от 0'}">
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <button class="btn btn-secondary" type="submit">Фильтр</button>
                        </div>
                        <div class="col">
                            <a class="btn btn-link" th:href="@{/configurations/}">Сбросить</a>
                        </div>
                    </div>
                    <br>
                </form>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/modals :: saveConfigModal"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
<script>
    $(document).ready(function () {
        $('.lightbox').magnificPopup({type: 'image'});
    });
</script>
<div th:replace="fragments/footer :: myFooter"></div>
</body>
</html>